/***********************************
 PROFILE
 ***********************************/

form.app-form input[type=text],
form.app-form input[type=password],
form.app-form textarea,
form.app-form select {
	max-width: 300px;
	margin: 5px 0px 15px 0px;
	font-size: 1em;
}

form.app-form textarea {
	max-width: 500px;
	min-height: 250px;
	margin-bottom: 20px;
}

form.app-form label.input-title {
	font-weight: 400;
	font-size: 1.2em;
	color: #333333;
}

form.app-form p.input-info {
	margin: 0px;
	padding: 0px 0px 5px 0px !important;
	font-size: 0.8em !important;
	color: #888888;
}

form.app-form textarea.monospace-text {
	font-family: 'Roboto Monospace', 'Hack', 'Consolas', 'Courier', monospace;
	font-size: 0.8em !important;
	max-width: 600px;
	min-height: 300px;
}

span.required-field {
	color: #FF5252;
	font-weight: 300;
}

.code-example {
	font-family: 'Roboto Monospace', 'Hack', 'Consolas', 'Courier', monospace;
	font-size: 0.9em;
	max-width: 600px;

	* {
		font-family: 'Roboto Monospace', 'Hack', 'Consolas', 'Courier', monospace;
	}
}

#content .button-section-right {
	text-align: right;
	float: right;
}

/***********************************
 REVIEW & SUBMIT
 ***********************************/

p.review, ul.review {
	color: #666666;
	font-size: 0.8em;
	padding: 0;
	margin: 0;
	white-space: pre-wrap;
}

form.app-form div.label-group.review {
	margin-top: 5px;
}

form.app-form div.label-group.review label.control-label {
	cursor: default;
	color: #666666;
}
