/************************************
 MAIN DASHBOARD STYLES
 ************************************/

#content .card .card-item {
	margin: 8px 0px;
}

#content .card .card-item .item-icon {
	color: white;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	line-height: 18px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

#content .card .card-item .item-icon i {
	font-size: 0.7em;
}

#content .card .card-item .item-text {
	display: inline-block;
	line-height: 20px;
	padding: 0px 5px;
}

#content .card .card-item.completed .item-icon { background-color: #43A047; }
#content .card .card-item.in-progress .item-icon { background-color: #FB8C00; }

#content .card .button-section {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#content p.info {
	text-align: center;
	font-style: italic;
	color: #999999;
	font-size: 1.3em;
	font-weight: 500;
}

button#create-btn {
	margin: 0;
}

/***********************************
 ADMIN APPLICATIONS
 ***********************************/

h1 span.app-count {
	font-weight: 300;
}

table.app-list {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #EAEAEA;
	box-shadow: 0px 0px 3px #E2E2E2;
	margin: 5px 0px 40px 0px;
}

table.app-list thead tr td {
	font-weight: 500;
	font-size: 1.2em;
	padding: 15px 20px;
	border-bottom: 3px solid #EAEAEA;
	cursor: default !important;
}

table.app-list.interactive thead tr:hover td {
	background-color: white;
}

table.app-list tr td {
	padding: 15px 20px;
	border-collapse: collapse;
	background-color: white;
	border-bottom: 1px solid #F2F2F2;
	transition: background 0.2s;
}

table.app-list.interactive tr:hover td {
	background-color: #F6F6F6;
	cursor: pointer;
}

table.app-list i.fa-star {
	color: #FDD835;
}

table.app-list i.fa-star-o {
	color: #CCCCCC;
}

table.app-list button {
	height: 36px;
	width: 36px;
	padding: 0px;
	margin: 0px 5px;
}

table.app-list button:hover {
	margin-top: 2px;
	margin-bottom: -2px;
}

table.app-list button.loading {
	margin: 0px;
}

@media (max-width: 800px) {
	table.app-list tr td,
	table.app-list thead tr td {
		padding: 10px 15px;
	}
}

/***********************************
 ADMIN STATS
 ***********************************/

.app-stats-container {
	width: 100%;
	max-height: 300px;
	text-align: center;
	padding-bottom: 40px;

	.app-stats {
		max-width: 300px;
		width: 30%;
		display: inline-block;
	}

	.app-stats-long{
		width: 90%;
		max-width: 900px;
		display: inline-block;
	}
}

/************************************
 ADMIN VIEW APPLICATION
 ************************************/

.view-application {

}

.view-application hr {
	border: none;
	height: 1px;
	background-color: #E2E2E2;
}

.button-section-right {
	text-align: right;
	float: right;
}

/************************************
 RATING STYLES
 ************************************/

div.rating {
	margin: 10px 0px 20px 0px;
	width: max-content;
	cursor: pointer;
}

div.rating i.fa-star {
	color: #FDD835;
	margin-right: 5px;
}

div.rating i.fa-star-o {
	color: #CCCCCC;
	margin-right: 5px;
}

div#profile-view-buttons button {
	margin-left: 5px;
	margin-right: 5px;
}