#auth-container {
	width: 300px;
	margin: 50px auto;
	box-shadow: 0px 0px 18px #CCCCCC;
	border-radius: 3px;
	background-color: white;

	#splash {
		width: 300px;
		height: 300px;
		margin: auto;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background: url('/images/logo.png');
		background-size: cover;
	}

	form {
		padding: 20px;

		label {
			font-weight: 500;
			font-size: 0.7em;
			color: #848484;
		}
	}

	#button-container {
		text-align: center;
		vertical-align: top;
	}
}
